<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    Twitter
    <!-- nav bar with styling -->
    {% if 'username' in session %}
    <nav>
        <div id="for-you">For you</div>
        <div id="following">Following</div>
        <!-- If user is within any communities display it -->
    </nav>
    {% else %}
    <!-- Display a login page -->
    <div id="form-container">
        <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>