<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    Twitter
    <!-- nav bar with styling -->
    {% if 'username' in session %}
    <nav id="top-nav">
        <div id="for-you">For you</div>
        <div id="following">Following</div>
        <!-- If user is within any communities display it -->
    </nav>
    <div id="sideways-nav">
        <a href="" id="twitter-logo"></a>
      {% if 'username' not in session %}
        <a href="" id="settings"></a>
      {% else %}
        <a href="" id="home"></a>
        <a href="" id="search"></a>
        <a href="" id="notifications"></a>
        <a href="" id="profile"></a>
    </div>
      {% endif %}

    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>